# StudentGradePrediction

In this notebook we will explore the supervised classification machine learning algorithmn

The goal is to clearly understand how classification work and to explore furthur into that catagory.

## Intro

First of all i would like this to be beginner friendly and easy to follow along and hope to increase my knowledge in this field, I will start Simple by making a dataframe of my own then explaining logc and then using a realdataset.
<br>
Predicting the student score always varied on different data such as anxiety,acedemic performnace,geographical location and their score in last few years or few months. But in our custom dataframe aimed to explain the logic we will only use small percenta

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie','Josh'],
    'Score': [75, 20, 45,90],
    'Grade': ['A', 'D', 'C','A']
}
df = pd.DataFrame(data)

In [2]:
df

      Name  Score Grade
0    Alice     75     A
1      Bob     20     D
2  Charlie     45     C
3     Josh     90     A

## Importance and Unimportance Columns and Supervised Learning

We should determine which columns and drop and which to not drop in training our models, thus in our case we wont be needing Name, etc.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Score   4 non-null      int64
 2   Grade   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes