# StudentGradePrediction

In this notebook we will explore the supervised classification machine learning algorithmn

The goal is to clearly understand how classification work and to explore furthur into that catagory.

## Intro

First of all i would like this to be beginner friendly and easy to follow along and hope to increase my knowledge in this field, I will start Simple by making a dataframe of my own then explaining logc and then using a realdataset.
<br>
Predicting the student score always varied on different data such as anxiety,acedemic performnace,geographical location and their score in last few years or few months. But in our custom dataframe aimed to explain the logic we will only use small percenta

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie','Josh'],
    'Score': [75, 20, 45,90],
    'Grade': ['A', 'D', 'C','A']
}
df = pd.DataFrame(data)

In [2]:
df

      Name  Score Grade
0    Alice     75     A
1      Bob     20     D
2  Charlie     45     C
3     Josh     90     A

## Importance and Unimportance Columns and Supervised Learning

We should determine which columns and drop and which to not drop in training our models, thus in our case we wont be needing Name, etc.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Score   4 non-null      int64
 2   Grade   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

## Question: What sort of algorithm should we use?

Well this question depend what result we are trying to get? are we trying to predict the student score based on the data or are we trying to classify students into Classes such as (A-grade,B-grade,etc). The thing for this is we can just base student according to their score, for example student below 40 are D and student above 70 are A in between can be C or B.
The problem with this is that the Grade are only assigned base on their score only and not accounting the other importance factor. I will try to use both Regression and Classification in this notebook to furthur enchance the knowledge of the reader and furthur enchancing my knwledge on MAchine learning and AI.

### Type of Classification
The primary types of classification in machine learning are Binary Classification (two outcomes), Multi-Class Classification (more than two distinct outcomes), and Multi-Label Classification (multiple outcomes for a single input).

In [11]:
import pandas as pd
import random

# Possible values for synthetic features
names = [f"Student_{i}" for i in range(1, 51)]
regions = ["Urban", "Rural", "Suburban"]
parental_education = ["None", "High School", "College", "Graduate"]
socioeconomic_status = ["Low", "Medium", "High"]
extracurriculars = ["Yes", "No"]
internet_access = ["Yes", "No"]

# Generate synthetic dataset
data = {
    "Name": [],
    "Score": [],
    "Grade": [],
    "Region": [],
    "Parental_Education": [],
    "Socioeconomic_Status": [],
    "Study_Hours": [],
    "Attendance_Rate": [],
    "Extracurriculars": [],
    "Internet_Access": []
}

for name in names:
    score = random.randint(0, 100)
    # Assign grade based on score
    if score >= 85:
        grade = "A"
    elif score >= 70:
        grade = "B"
    elif score >= 50:
        grade = "C"
    elif score >= 35:
        grade = "D"
    else:
        grade = "F"
    
    data["Name"].append(name)
    data["Score"].append(score)
    data["Grade"].append(grade)
    data["Region"].append(random.choice(regions))
    data["Parental_Education"].append(random.choice(parental_education))
    data["Socioeconomic_Status"].append(random.choice(socioeconomic_status))
    data["Study_Hours"].append(random.randint(0, 25))
    data["Attendance_Rate"].append(round(random.uniform(0.4, 1.0), 2))
    data["Extracurriculars"].append(random.choice(extracurriculars))
    data["Internet_Access"].append(random.choice(internet_access))

df = pd.DataFrame(data)

In [12]:
df

,Name,Score,Grade,Region,Parental_Education,Socioeconomic_Status,Study_Hours,Attendance_Rate,Extracurriculars,Internet_Access
0,Student_1,57,C,Rural,High School,Low,3,0.96,Yes,No
1,Student_2,65,C,Urban,High School,High,14,0.94,No,No
2,Student_3,47,D,Urban,High School,Medium,0,0.97,No,No
3,Student_4,81,B,Rural,College,Low,14,0.72,No,Yes
4,Student_5,69,C,Suburban,None,High,16,0.73,Yes,No
5,Student_6,10,F,Suburban,None,High,0,0.69,No,No
6,Student_7,99,A,Suburban,High School,High,0,0.87,Yes,No
7,Student_8,18,F,Urban,Graduate,Medium,0,0.51,No,Yes
8,Student_9,14,F,Rural,College,Medium,22,0.52,Yes,Yes
9,Student_10,40,D,Rural,High School,Low,11,0.58,No,No
10,Student_11,41,D,Urban,None,High,10,0.73,Yes,No
11,Student_12,75,B,Urban,College,High,20,0.67,Yes,Yes
12,Student_13,91,A,Suburban,Graduate,High,11,0.80,No,Yes
13,Student_14,39,D,Urban,College,Medium,24,0.73,No,Yes
14,Student_15,98,A,Urban,Graduate,High,9,0.62,No,No
15,Student_16,89,A,Rural,High School,Medium,7,0.58,Yes,Yes
16,Student_17,85,A,Urban,None,Medium,8,0.92,Yes,Yes
17,Student_18,6,F,Rural,College,High,11,0.63,No,No
18,Student_19,39,D,Suburban,None,High,19,0.61,Yes,Yes
19,Student_20,82,B,Urban,Graduate,Medium,12,0.67,Yes,No
20,Student_21,25,F,Urban,Graduate,High,7,0.48,Yes,Yes
21,Student_22,39,D,Urban,None,Medium,21,0.43,No,Yes
22,Student_23,9,F,Urban,Graduate,Medium,20,0.83,No,Yes
23,Student_24,29,F,Suburban,None,Low,2,0.61,Yes,Yes
24,Student_25,28,F,Rural,High School,Medium,22,0.82,Yes,No
25,Student_26,51,C,Urban,College,Medium,22,0.98,No,Yes
26,Student_27,70,B,Urban,None,Low,16,0.65,Yes,Yes
27,Student_28,40,D,Urban,High School,Medium,11,0.49,Yes,Yes
28,Student_29,1,F,Rural,None,High,18,0.55,Yes,Yes
29,Student_30,37,D,Rural,None,Medium,12,0.62,Yes,Yes
30,Student_31,8,F,Rural,Graduate,High,18,0.75,Yes,Yes
31,Student_32,3,F,Urban,Graduate,Medium,6,0.91,No,No
32,Student_33,71,B,Urban,Graduate,High,24,0.42,No,No
33,Student_34,9,F,Urban,Graduate,Medium,0,0.96,Yes,Yes
34,Student_35,68,C,Rural,Graduate,High,21,0.86,Yes,No
35,Student_36,87,A,Urban,None,Low,2,0.55,Yes,No
36,Student_37,10,F,Suburban,High School,High,25,0.70,Yes,No
37,Student_38,16,F,Suburban,College,Low,21,0.91,No,Yes
38,Student_39,42,D,Rural,College,Low,6,0.77,No,Yes
39,Student_40,13,F,Suburban,None,High,7,0.96,No,Yes
40,Student_41,30,F,Urban,None,High,0,0.48,No,Yes
41,Student_42,9,F,Urban,Graduate,Medium,8,0.46,Yes,No
42,Student_43,99,A,Urban,None,Low,18,0.62,Yes,Yes
43,Student_44,90,A,Rural,Graduate,Medium,18,0.49,No,No
44,Student_45,15,F,Urban,Graduate,Medium,21,0.96,Yes,Yes
45,Student_46,64,C,Suburban,High School,Medium,5,0.81,No,No
46,Student_47,99,A,Rural,College,Low,20,0.99,Yes,No
47,Student_48,11,F,Rural,Graduate,Medium,17,0.98,No,No
48,Student_49,66,C,Urban,Graduate,Low,18,0.84,Yes,No
49,Student_50,95,A,Suburban,Graduate,Medium,6,0.42,No,No

In [15]:
df = df.drop('Name',axis=1)

In [16]:
df

,Score,Grade,Region,Parental_Education,Socioeconomic_Status,Study_Hours,Attendance_Rate,Extracurriculars,Internet_Access
0,57,C,Rural,High School,Low,3,0.96,Yes,No
1,65,C,Urban,High School,High,14,0.94,No,No
2,47,D,Urban,High School,Medium,0,0.97,No,No
3,81,B,Rural,College,Low,14,0.72,No,Yes
4,69,C,Suburban,None,High,16,0.73,Yes,No
5,10,F,Suburban,None,High,0,0.69,No,No
6,99,A,Suburban,High School,High,0,0.87,Yes,No
7,18,F,Urban,Graduate,Medium,0,0.51,No,Yes
8,14,F,Rural,College,Medium,22,0.52,Yes,Yes
9,40,D,Rural,High School,Low,11,0.58,No,No
10,41,D,Urban,None,High,10,0.73,Yes,No
11,75,B,Urban,College,High,20,0.67,Yes,Yes
12,91,A,Suburban,Graduate,High,11,0.80,No,Yes
13,39,D,Urban,College,Medium,24,0.73,No,Yes
14,98,A,Urban,Graduate,High,9,0.62,No,No
15,89,A,Rural,High School,Medium,7,0.58,Yes,Yes
16,85,A,Urban,None,Medium,8,0.92,Yes,Yes
17,6,F,Rural,College,High,11,0.63,No,No
18,39,D,Suburban,None,High,19,0.61,Yes,Yes
19,82,B,Urban,Graduate,Medium,12,0.67,Yes,No
20,25,F,Urban,Graduate,High,7,0.48,Yes,Yes
21,39,D,Urban,None,Medium,21,0.43,No,Yes
22,9,F,Urban,Graduate,Medium,20,0.83,No,Yes
23,29,F,Suburban,None,Low,2,0.61,Yes,Yes
24,28,F,Rural,High School,Medium,22,0.82,Yes,No
25,51,C,Urban,College,Medium,22,0.98,No,Yes
26,70,B,Urban,None,Low,16,0.65,Yes,Yes
27,40,D,Urban,High School,Medium,11,0.49,Yes,Yes
28,1,F,Rural,None,High,18,0.55,Yes,Yes
29,37,D,Rural,None,Medium,12,0.62,Yes,Yes
30,8,F,Rural,Graduate,High,18,0.75,Yes,Yes
31,3,F,Urban,Graduate,Medium,6,0.91,No,No
32,71,B,Urban,Graduate,High,24,0.42,No,No
33,9,F,Urban,Graduate,Medium,0,0.96,Yes,Yes
34,68,C,Rural,Graduate,High,21,0.86,Yes,No
35,87,A,Urban,None,Low,2,0.55,Yes,No
36,10,F,Suburban,High School,High,25,0.70,Yes,No
37,16,F,Suburban,College,Low,21,0.91,No,Yes
38,42,D,Rural,College,Low,6,0.77,No,Yes
39,13,F,Suburban,None,High,7,0.96,No,Yes
40,30,F,Urban,None,High,0,0.48,No,Yes
41,9,F,Urban,Graduate,Medium,8,0.46,Yes,No
42,99,A,Urban,None,Low,18,0.62,Yes,Yes
43,90,A,Rural,Graduate,Medium,18,0.49,No,No
44,15,F,Urban,Graduate,Medium,21,0.96,Yes,Yes
45,64,C,Suburban,High School,Medium,5,0.81,No,No
46,99,A,Rural,College,Low,20,0.99,Yes,No
47,11,F,Rural,Graduate,Medium,17,0.98,No,No
48,66,C,Urban,Graduate,Low,18,0.84,Yes,No
49,95,A,Suburban,Graduate,Medium,6,0.42,No,No

## Exploratory Data Analysis (EDA)

Exploratory Data Analysis (EDA) is crucial because it helps data scientists understand and prepare their data by revealing patterns, identifying anomalies and errors, and generating hypotheses before formal modeling. It serves as the foundational groundwork for any data-driven project, enabling more accurate and effective data cleaning, feature selection, and the development of robust models that lead to valid, actionable business insights and improved decision-making.